<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="me.aflak.ff3">

    <uses-feature android:name="android.hardware.nfc.hce" android:required="true" />
    <uses-permission android:name="android.permission.NFC" />

    <application
        android:name="me.aflak.ff3.MyApp"
        android:allowBackup="true"
        android:icon="@drawable/burger"
        android:label="@string/app_name"
        android:roundIcon="@drawable/burger"
        android:supportsRtl="true"
        android:theme="@style/AppThemeNoActionBar">
        <activity android:name="me.aflak.ff3.ui.Main.view.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".ui.Menu.view.SelectMenuActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"/>

        <activity android:name=".ui.Sender.view.SenderActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNoActionBar"/>

        <service android:name="me.aflak.ff3.service.NfcCardService"
            android:exported="true"
            android:permission="android.permission.BIND_NFC_SERVICE">
            <intent-filter>
                <action android:name="android.nfc.cardemulation.action.HOST_APDU_SERVICE"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <meta-data android:name="android.nfc.cardemulation.host_apdu_service"
                android:resource="@xml/aid_list"/>
        </service>

    </application>

</manifest>